In [1]:
import pandas as pd
import numpy as np
import sklearn as sk
import pymongo

In [2]:
myclient = pymongo.MongoClient("mongodb://mongoadmin:admin@13.67.48.201:27017/")
mydb = myclient["LinkedIn"]
# Get job skills
mycol = mydb["JobsDescription"]
cursor = mycol.find()
items = list(cursor)
df_jobs = pd.DataFrame(items)

In [110]:
df_jobs

,_id,jobTitle,location,company,type,desc
0,2975673294,Data Engineer in Business Intelligence Team (B...,"Ho Chi Minh City, Ho Chi Minh City, Vietnam",Agoda,Full-time · Entry level,requirements. Our ultimate goal is to enable a...
1,2993666500,"Business Intelligence Intern, Kobiton","Ho Chi Minh City, Ho Chi Minh City, Vietnam","KMS Technology, Inc.",Internship · Internship,need to be successful: General: * 4th year/ ne...
2,2975674182,"Business Intelligence Developer, Product Team ...","Ho Chi Minh City, Ho Chi Minh City, Vietnam",Agoda,Full-time · Associate,requirements. Our ultimate goal is to enable a...
3,2993740820,"Business Intelligence (Edtech Company, Upto 10...","Hanoi, Hanoi, Vietnam",X3english Limited Company,"₫15,000,000/month - ₫23,000,000/month · Full-t...",experiences with Data Analysis or Business Ana...
4,2945707463,Senior Business Intelligence Analyst (0824),"Hanoi, Hanoi, Vietnam",Techcombank (TCB),Full-time · Associate,requirements from within and outside of the tr...
...,...,...,...,...,...,...
1064,2920919416,Senior Automation Tester,Da Nang Metropolitan Area,EPAM Anywhere,Full-time · Mid-Senior level,looking for a remote Senior Automation Tester ...
1065,2920916624,Senior Automation Tester,"Haiphong, Hai Phong City, Vietnam",EPAM Anywhere,Full-time · Mid-Senior level,looking for a remote Senior Automation Tester ...
1066,2920917626,Senior Automation Tester,"Hanoi, Hanoi, Vietnam",EPAM Anywhere,Full-time · Mid-Senior level,looking for a remote Senior Automation Tester ...
1067,2690306027,QC Manager (Tester),"Hanoi, Hanoi, Vietnam",DAC Data Science Vietnam,Full-time,requirements/change in requirements of the Pro...
1068,3012239765,"Software Test Engineer Intern (QA/QC/Tester), ...","Đà Nang, Da Nang City, Vietnam","KMS Technology, Inc.",Internship · Internship,looking for the next destination of your testi...

In [124]:
# Filter a string Jobtile include a role
def filter_job_role(jobTitle='',role= ''):
    if role.lower() in jobTitle.lower():
        return 1
    else:
        return 0

# Filter DataFrame of Jobs with Role Input

def filter_DataFrame_role(df:pd.DataFrame,input_role=''):
    df_x = df.copy()
    column_check = []
    for i in range(0,len(df_x)):
        var_check = filter_job_role(df_x.iloc[i]['jobTitle'],input_role)
        column_check.append(var_check)
    df_x['column_check'] = column_check
    df_y = df_x[df_x['column_check']==1]
    df_y = df_y[['_id','jobTitle','location','company','type','desc']]
    return df_y

df_DE = filter_DataFrame_role(df_jobs,'engineer')
df_DE

,_id,jobTitle,location,company,type,desc
0,2975673294,Data Engineer in Business Intelligence Team (B...,"Ho Chi Minh City, Ho Chi Minh City, Vietnam",Agoda,Full-time · Entry level,requirements. Our ultimate goal is to enable a...
14,2987376935,Business Intelligence Engineer,"Ho Chi Minh City, Ho Chi Minh City, Vietnam",Công Ty CP Công Nghệ Sendo,"₫20,000,000/month - ₫24,000,000/month · Full-t...",requirements in BI context to build warehouse ...
64,2797391701,Data Analyst / Data Research Engineer,"Ho Chi Minh City, Ho Chi Minh City, Vietnam",Công ty TNHH PK,Full-time · Associate,"Requirements BS or Master in Mathematics, Econ..."
104,2975607931,Data Engineer,"Hanoi, Hanoi, Vietnam",Picket Homes,Full-time · Entry level,looking for candidates who can communicate cle...
105,2950870014,Data Engineer,"Hanoi, Hanoi, Vietnam",Techcombank (TCB),Full-time · Entry level,requirements for data operations and activity ...
...,...,...,...,...,...,...
1021,2990230798,"Test Engineer (QA/QC/Tester), Kobiton","Ho Chi Minh City, Ho Chi Minh City, Vietnam",Kobiton,Full-time · Associate,Qualifications\n\nSkills/knowledge you need to...
1025,2995674369,"Test Engineer (QA/QC/Tester), Grove","Ho Chi Minh City, Ho Chi Minh City, Vietnam",Grove,Full-time · Executive,requirements\nWork closely with the developmen...
1030,2983155273,Automation Test Engineer (QA/QC/Tester),"Ho Chi Minh City, Vietnam","KMS Solutions, Inc.",Full-time,requirements and provide necessary test recomm...
1040,2992729397,"Automation Test Engineer (QA/QC/Tester), KMS S...","Ho Chi Minh City, Ho Chi Minh City, Vietnam",KMS Solutions,Full-time · Mid-Senior level,requirements and provide necessary test recomm...
1068,3012239765,"Software Test Engineer Intern (QA/QC/Tester), ...","Đà Nang, Da Nang City, Vietnam","KMS Technology, Inc.",Internship · Internship,looking for the next destination of your testi...

In [187]:
import collections
def filter_location(text=''):
    l1 = list(set(text.split(',')))
    r = []
    for i in range(0,len(l1)):
        l1[i] = l1[i].strip().lower()
    l1 = list(set(l1))
    for i in range(0,len(l1)):
        if '/' not in l1[i]:
            r.append(l1[i])
    # print("L1: ",r)
    return r

# filter_location('Hanoi Capital Region')

def EDA_on_location(df:pd.DataFrame):
    df_x = df.copy()
    temp_location = []
    for i in range(0,len(df_x)):
        text = df.iloc[i]['location']
        temp_location.append(filter_location(text))
    df_x['filter_location'] = temp_location
    list_of_types = []

    for i in range (0, len(df_x)):
        list_of_types += df_x.iloc[i]['filter_location']
    dict_result = dict(collections.Counter(list_of_types))
    # print(dict_result)
    keys = list(dict_result.keys())
    values = list(dict_result.values())
    return keys,values

In [188]:
x1,y1 = EDA_on_location(df_jobs)
print(x1)
print(y1)

['vietnam', 'ho chi minh city', 'hanoi', 'hanoi capital region', 'dong nai', 'biên hòa', 'district 7', 'củ chi', 'cà mau', 'ho chi minh city metropolitan area', 'cầu giấy', 'tân bình', 'binh duong', 'da nang city', 'đà nang', 'apac', 'quân phuong ha trai', 'quận 12', 'da nang metropolitan area', 'hoàn kiếm district', 'dong thap', 'bình thạnh', 'district 2', 'nhà bè', 'quận 7', 'quận 1', 'quang ninh', 'ha long', 'hoi an', 'phan thiet', 'thua thien hue', 'hue', 'nha trang', 'capas', 'philippines', 'central luzon', 'ba đông', 'thanh xuân district', 'an nhơn tây', 'tây thạnh', 'thủ đức district', 'haiphong', 'hai phong city', 'hai duong', 'chí minh']
[1014, 641, 170, 20, 3, 2, 4, 3, 1, 20, 4, 5, 3, 34, 28, 3, 4, 1, 11, 2, 2, 3, 1, 1, 4, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 1, 1, 2, 2, 1, 1]

In [152]:
df_jobs

,_id,jobTitle,location,company,type,desc
0,2975673294,Data Engineer in Business Intelligence Team (B...,"Ho Chi Minh City, Ho Chi Minh City, Vietnam",Agoda,Full-time · Entry level,requirements. Our ultimate goal is to enable a...
1,2993666500,"Business Intelligence Intern, Kobiton","Ho Chi Minh City, Ho Chi Minh City, Vietnam","KMS Technology, Inc.",Internship · Internship,need to be successful: General: * 4th year/ ne...
2,2975674182,"Business Intelligence Developer, Product Team ...","Ho Chi Minh City, Ho Chi Minh City, Vietnam",Agoda,Full-time · Associate,requirements. Our ultimate goal is to enable a...
3,2993740820,"Business Intelligence (Edtech Company, Upto 10...","Hanoi, Hanoi, Vietnam",X3english Limited Company,"₫15,000,000/month - ₫23,000,000/month · Full-t...",experiences with Data Analysis or Business Ana...
4,2945707463,Senior Business Intelligence Analyst (0824),"Hanoi, Hanoi, Vietnam",Techcombank (TCB),Full-time · Associate,requirements from within and outside of the tr...
...,...,...,...,...,...,...
1064,2920919416,Senior Automation Tester,Da Nang Metropolitan Area,EPAM Anywhere,Full-time · Mid-Senior level,looking for a remote Senior Automation Tester ...
1065,2920916624,Senior Automation Tester,"Haiphong, Hai Phong City, Vietnam",EPAM Anywhere,Full-time · Mid-Senior level,looking for a remote Senior Automation Tester ...
1066,2920917626,Senior Automation Tester,"Hanoi, Hanoi, Vietnam",EPAM Anywhere,Full-time · Mid-Senior level,looking for a remote Senior Automation Tester ...
1067,2690306027,QC Manager (Tester),"Hanoi, Hanoi, Vietnam",DAC Data Science Vietnam,Full-time,requirements/change in requirements of the Pro...
1068,3012239765,"Software Test Engineer Intern (QA/QC/Tester), ...","Đà Nang, Da Nang City, Vietnam","KMS Technology, Inc.",Internship · Internship,looking for the next destination of your testi...

In [171]:
def filter_workingType(text=''):
    l1 = list(set(text.split('·')))
    r = []
    for i in range(0,len(l1)):
        l1[i] = l1[i].strip().lower()
    l1 = list(set(l1))
    for i in range(0,len(l1)):
        if '/' not in l1[i]:
            r.append(l1[i])
    # print("L1: ",r)
    return r

filter_workingType('Internship · Internship')

['internship']

In [172]:
def process_DfWorkingType(df:pd.DataFrame):
    column_types = []
    df_x = df.copy()
    for i in range(0, len(df)):
        column_types.append(filter_workingType(df_x.iloc[i]['type']))
    df_x['working'] = column_types
    
    return df_x

df_working = process_DfWorkingType(df_jobs)

In [ ]:
df_working

In [179]:
def EDA_on_working(df:pd.DataFrame):
    df_x = df.copy()
    list_of_types = []
    for i in range (0, len(df_x)):
        list_of_types += df_x.iloc[i]['working']
    dict_result = dict(collections.Counter(list_of_types))
    # print(dict_result)
    keys = list(dict_result.keys())
    values = list(dict_result.values())
    return keys,values
    
y1,y2 = EDA_on_working(df_working)

In [180]:
print(y1)
print(y2)

['entry level', 'full-time', 'internship', 'associate', 'mid-senior level', 'director', 'executive', 'contract', 'temporary']
[182, 1039, 22, 210, 432, 8, 20, 9, 1]

<h2>Analyze in JD Length</h2>

In [2]:
import sys
sys.path.append('../')
from models.lstm_predict import predict


desc = """
WE BELIEVE YOU HAVE

Curiosity, a genuine wish to learn new things, a love for technology, a wish for your team and yourself to excel
2 years of professional experience working with Python and Linux, or very good skills
Experience with SQL and NoSQL databases
Can easily understand complex technical system

GOOD TO HAVE EXPERIENCE

Personal interest in tech areas like programming, scripting, dataflow pipelines, cloud/hybrid big data, etc.
Provisioning, operating and managing AWS or hybrid environments
Linux container technologies (like docker)
ETL pipelines (AWS Glue, Apache Spark, or similar) and data warehousing

MORE ABOUT TOPTRACER
"""
a = predict(desc)
# for i in range (len(a)):
    # if len(a[i])>30:
    #     a.remove(a[i])
print(a)

2022-07-12 14:50:25.858104: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
100%|██████████| 55/55 [00:00<00:00, 13278.46it/s]

['new things', 'personal interest tech areas', 'understand', 'data', 'scripting', 'aws hybrid environments', 'believe curiosity', 'aws glue', 'provisioning', 'dataflow pipelines', 'operating', 'complex technical system', 'big data', 'managing', 'data warehotoptracer', 'linux container technologies', 'sql nosql databases', 'like programming', 'like docker etl pipelines', 'python linux', 'cloud hybrid', 'apache spark', 'technology', 'glue', 'docker etl pipelines', 'complex technical system personal interest tech areas', 'warehotoptracer', 'genuine wish', 'programming', 'professional', 'learn', 'wish team']

In [10]:
def valid_string_in_item(invalid_items:list,string_input=''):
    result = 0
    for item in invalid_items:
        if item in string_input:
            result = 1
            return result
    return result

def filter_advanced_level(skills_list:list):
    # total_list = []
    # for i in range(0,len(df)):
        # check_list = df.iloc[i]['skills'].copy()
    drop_list = []
    check_list = skills_list.copy()
    invalid_string = ['pregnancy','status','gender','vacation','people','sex','salary','month','health','insurance',
                            'email','inmai','holiday','qualification','monday','tuesday','wednesday','thursday','friday','saturday','sunday']
    valid_string_list = ['english','japanese','vietnamese','foreign language','data visualization','programming language','docker',
                            'python','sql','nosql','scrum','agile','data science',' r ','software','javascript','java','scala','data engineer','data scientist',
                            'business analysis','business analyst','data analysis','data analyst','statistic','big data','data lake','data warehouse','aws','gcp',
                            'data governance','data analysis','tensorflow','bi tools','power bi','etl','linux','unix','windows','postgresql','mysql','batch','real time',
                            'data pipeline','software engineer','software engineering','data engineering','data mining']

    for item in skills_list:
        if ('degree' in item) and (len(item)>len('degree')):
            s = item.replace('degrees','').replace('degree','').strip()
            s2 = item.split(' ')
            check_list.append('degree')
            check_list.append(s)
            check_list = check_list + s2
            check_list.remove(item)
        else:
            if valid_string_in_item(invalid_items=invalid_string,string_input = item) == 1:
                check_list.remove(item)

    check_list = list(set(check_list))
    check_list_2 = check_list.copy()

    for item in check_list:
        if item.count(" ")>=2:
                # print(item)
            for valid_item in valid_string_list:
                if valid_item in item:
                    check_list_2.append(valid_item)
            check_list_2.remove(item)
                # print(item)
            continue
            
                # print(item)
            # if 
        # print("LENGTH AFTER: ",len(check_list)) 
    # total_list.append(list(set(check_list_2)))
    check_list_2 = list(set(check_list_2))
    return check_list_2

In [11]:
b = filter_advanced_level(a)
print(b)

['new things', 'understand', 'data', 'scripting', 'linux', 'believe curiosity', 'aws glue', 'provisioning', 'dataflow pipelines', 'nosql', 'operating', 'aws', 'big data', 'managing', 'data warehotoptracer', 'like programming', 'python linux', 'cloud hybrid', 'sql', 'apache spark', 'technology', 'glue', 'etl', 'warehotoptracer', 'genuine wish', 'programming', 'professional', 'learn', 'wish team']

['new things', 'understand', 'data', 'scripting', 'linux', 'believe curiosity', 'aws glue', 'provisioning', 'dataflow pipelines', 'nosql', 'operating', 'aws', 'big data', 'managing', 'data warehotoptracer', 'like programming', 'python linux', 'cloud hybrid', 'sql', 'apache spark', 'technology', 'glue', 'etl', 'warehotoptracer', 'genuine wish', 'programming', 'professional', 'learn', 'wish team']


['new things', 'personal interest tech areas', 'understand', 'data', 'scripting', 'aws hybrid environments', 'believe curiosity', 'aws glue', 'provisioning', 'dataflow pipelines', 'operating', 'complex technical system', 'big data', 'managing', 'data warehotoptracer', 'linux container technologies', 'sql nosql databases', 'like programming', 'like docker etl pipelines', 'python linux', 'cloud hybrid', 'apache spark', 'technology', 'glue', 'docker etl pipelines', 'complex technical system personal interest tech areas', 'warehotoptracer', 'genuine wish', 'programming', 'professional', 'learn', 'wish team']